[submodule "MMDVMHost"]
	path = MMDVMHost
	url = https://github.com/g4klx/MMDVMHost.git
[submodule "DMRGateway"]
	path = DMRGateway
	url = https://github.com/g4klx/DMRGateway.git
[submodule "M17Gateway"]
	path = M17Gateway
	url = https://github.com/g4klx/M17Gateway.git
[submodule "YSFClients"]
	path = YSFClients
	url = https://github.com/g4klx/YSFClients.git
[submodule "APRSGateway"]
	path = APRSGateway
	url = https://github.com/g4klx/APRSGateway.git
[submodule "MMDVMCal"]
	path = MMDVMCal
	url = https://github.com/g4klx/MMDVMCal.git
[submodule "DAPNETGateway"]
	path = DAPNETGateway
	url = https://github.com/g4klx/DAPNETGateway.git
